import { Snapshot } from "@svylabs/ilumina";
import { Contract } from "ethers";

export async function snapshot{{contract_name}}(contract: Contract): Promise<Snapshot> {
    // TODO: Implement snapshot logic for {{contract_name}}
    return {
        contract: "{{contract_name}}",
        data: {}
    };
}
