import { SnapshotProvider } from "@svylabs/ilumina";
import type { RunContext } from "@svylabs/ilumina";
import { Contract } from "ethers";

{% for contract in contracts %}
import { {{contract}}SnapshotProvider } from "./{{contract|lower}}_snapshot";
{% endfor %}

export function setupSnapshotProviders(contracts: Record<string, Contract>): SnapshotProvider[] {
    const providers: SnapshotProvider[] = [];

    {% for contract in contracts %}
    if (contracts.{{contract}}) {
        providers.push(new {{contract}}SnapshotProvider(contracts.{{contract}}));
    }
    {% endfor %}

    return providers;
}